<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>このサイトについて - とびだすなかみ計算ツール</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="about-page">

        <h1>とびだすなかみ計算ツール</h1>


        <h2>各機能について</h2>

        <h3>HP努力値予測</h3>
        <ol>
            <li>相手のポケモン</li>
            <li>とびだすなかみでダメージを与える<b>前</b>の、相手のポケモンのHP割合</li>
            <li>とびだすなかみでダメージを与えた<b>後</b>の、相手のポケモンのHP割合</li>
            <li>とびだすなかみで与えたダメージ量</li>
        </ol>
        <p>
            を入力することで、相手のポケモンの<b>HP努力値調整</b>を大まかに予測することができます。
        </p>

        <h3>残りHP計算</h3>
        <ol>
            <li>相手のポケモン</li>
            <li>相手のポケモンのHP努力値</li>
            <li>相手のポケモンのHP割合</li>
        </ol>
        <p>
            を入力することで、相手のポケモンの<b>残り体力</b>を計算することができます。
        </p>
        <p>
            とびだすなかみのダメージで相手のポケモンを倒せるかどうかを判断する際などで活用してください。
        </p>

        <h3>ちからをすいとる回復量計算</h3>
        <ol>
            <li>相手のポケモン</li>
            <li>相手のポケモンのA努力値</li>
            <li>相手のポケモンのA補正(Aが上がる性格→1.1、上りも下がりもしない性格→1.0、下がる性格→0.9</li>
            <li>相手のポケモンのAランク</li>
        </ol>
        <p>
            を入力することで、<b>ちからをすいとるでの回復量</b>を計算することができます。
        </p>


        <h2>使い方</h2>
        <ol>
            <li>上部のメニューから使用したい計算を選択します。</li>
            <li>必要な項目を入力します。</li>
            <li>「計算」ボタンを押します。</li>
            <li>計算結果を確認します。</li>
        </ol>


        <h2>製作者</h2>
        <p>
            <a href="https://x.com/gorochub184">ゴロチュウ(@gorochub184)</a>
        </p>

        <a href="/" class="back-button">計算画面に戻る</a>

    </div>

</body>

</html>